<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <!-- List of all stores to add -->
            <form class="" action="/add-store-to-brand/{{ brand.getBrandId }}" method="post">
                <select class="blackText" name="store_to_add">
                    {% if all_stores is not empty %}
                        {% for store in all_stores %}
                            <option class="blackText" value="{{ store.getStoreId }}">{{ store.getStoreName }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button type="submit" name="button">Add Store to Brand</button>
            </form>

            <h2>Stores that sell {{ brand.getBrandName }}</h2>
            <ul>
                {% for store in stores_that_sell_brand %}
                    <li>{{ store.getStoreName }}</li>
                {% endfor %}
            </ul>


        </div>
    </body>
</html>
