<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        {% include '/components/headerBanner.html.twig' %}
        <div class="container">
            {% include '/components/navbar.html.twig' %}


            <h1>{{ store.getStoreName }}</h1>
            <h2>{{ store.getStorePhone }}</h2>
            <h2>{{ store.getStoreAddress }}</h2>

            <!-- List of all stores to add -->
            <form class="" action="/add-brand-to-store/{{ store.getStoreId }}" method="post">
                <select class="blackText" name="brand_to_add">
                    {% if all_brands is not empty %}
                        {% for brand in all_brands %}
                            <option class="blackText" value="{{ brand.getBrandId }}">{{ brand.getBrandName }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button type="submit" name="button">Add Brand to Store</button>
            </form>

            <h2>Brands at {{ store.getStoreName }}</h2>
            <ul>
                {% for brand in store_brands %}
                    <li>{{ brand.getBrandName }}</li>
                {% endfor %}
            </ul>
        </div>
        {% include '/components/footerBanner.html.twig' %}
    </body>
</html>
